@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.bg-dark {
  background-color: #080808; }

.bg-secondary {
  background-color: #131313; }

.bg-one {
  background-color: #1a1b1d; }

.bg-two {
  background-color: #15181a; }

.bg-three {
  background-color: #0d0d0d; }

.text-white {
  color: white; }

.text-muted {
  color: rgba(255, 255, 255, 0.65); }

.flex {
  display: flex !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.flex-align-center {
  align-items: center !important; }

.flex-align-inherit {
  align-items: inherit !important; }

.row {
  flex-direction: row; }

.list-styled {
  padding: 0 0 0 1rem;
  margin: .5rem 0 0 0; }

.list-item {
  padding: .1rem 0 0 0; }

.p-small {
  padding: .75em !important; }

.p-medium {
  padding: 1em !important; }

.p-large {
  padding: 1.25em !important; }

.px-0 {
  padding: 0 .75em !important; }

.px-1 {
  padding: 0 1em !important; }

.px-2 {
  padding: 0 1.25em !important; }

.py-0 {
  padding: .75em 0 !important; }

.py-1 {
  padding: 1em 0 !important; }

.py-2 {
  padding: 1.25em 0 !important; }

.pt-0 {
  padding-top: .75em !important; }

.pt-1 {
  padding-top: 1em !important; }

.pt-2 {
  padding-top: 1.25em !important; }

.mx-auto {
  margin: 0 auto !important; }

.m-small {
  margin: .75em !important; }

.m-medium {
  margin: 1em !important; }

.m-large {
  margin: 1.25em !important; }

.mx-0 {
  margin: 0 .75em !important; }

.mx-1 {
  margin: 0 1em !important; }

.mx-2 {
  margin: 0 1.25em !important; }

.my-0 {
  margin: .75em 0 !important; }

.my-1 {
  margin: 1em 0 !important; }

.my-2 {
  margin: 1.25em 0 !important; }

.ml-small {
  margin-left: .75em !important; }

.btn-icon {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white; }
  .btn-icon:hover {
    color: rgba(255, 255, 255, 0.65); }
  .btn-icon:focus {
    border: none; }

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0 0; }
  .nav .container {
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: center; }
  .nav .logo {
    max-height: 40px;
    margin-top: auto;
    margin-bottom: auto; }

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0; }
  .navbar .nav-link {
    color: white !important;
    text-decoration: none;
    text-align: right;
    font-size: 1.15rem;
    padding: 0;
    margin: 0; }
  .navbar .nav-link:hover, .navbar .nav-link:focus {
    color: white !important;
    border-bottom: 1px solid white; }

.nav-icon {
  font-size: 1.25rem;
  line-height: 1rem;
  display: none; }
  .nav-icon .nav-icon-image {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.65%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .nav-icon .nav-icon-image:hover {
    cursor: pointer !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.00%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.nav-title {
  display: block;
  text-align: center; }
  .nav-title h1, .nav-title h2, .nav-title h3, .nav-title h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0; }
  .nav-title p {
    color: rgba(255, 255, 255, 0.65); }

@media (max-width: 36em) {
  .navbar {
    flex-direction: column;
    flex-basis: 100%;
    overflow: hidden; }
  .collapsed {
    max-height: 0; }
  .nav-container {
    width: 65%;
    flex-direction: column !important;
    justify-content: flex-end !important; }
  .nav-title {
    margin-left: 0.75rem; }
  .navbar .nav-link {
    text-align: right !important; }
  .nav-icon {
    display: inline-block !important;
    align-self: flex-end; } }

.hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 2.5rem;
  margin-top: 2.5rem; }
  .hero .container {
    flex-wrap: inherit;
    flex-direction: inherit; }
  .hero h1, .hero h2, .hero h3, .hero h4 {
    font-size: 2.5em;
    font-weight: 500;
    color: white;
    padding: 0;
    margin: 0; }
  .hero h2 {
    font-weight: 500;
    font-size: 1.5em;
    line-height: .25em;
    color: rgba(255, 255, 255, 0.65); }
  .hero p {
    color: rgba(255, 255, 255, 0.65); }
  .hero .logo {
    width: 300px;
    padding: 0em 0.5em 0.5em 0em;
    margin-top: 2em; }

.about {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 55%;
  margin-top: 2.5em; }

@media (max-width: 36em) {
  .about {
    text-align: center;
    width: 85%; } }

.footer {
  position: relative; }
  .footer p {
    color: rgba(255, 255, 255, 0.5) !important;
    padding: 0;
    margin: 0; }
  .footer a {
    color: rgba(255, 255, 255, 0.5) !important;
    font-weight: 400; }
  .footer .footer-link, .footer .footer-link:visited {
    text-decoration: none;
    margin: 0 0 0 0.5rem; }
  .footer .footer-link:hover, .footer .footer-link:visited:hover {
    color: white !important;
    border-bottom: 1px solid white; }

.container, .container-fluid, .container-small, .container-medium, .container-large, .container-xlarge {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 576px) {
  .container, .container-small {
    max-width: 540px; } }

@media (min-width: 992px) {
  .container, .container-small, .container-medium {
    max-width: 960px; } }

@media (min-width: 1400px) {
  .container, .container-small, .container-medium, .container-large {
    max-width: 1320px; } }

@media (min-width: 1530px) {
  .container, .container-small, .container-medium, .container-large, .container-xlarge {
    max-width: 1450px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0; }

.col-50 {
  flex: 0 0 auto;
  width: 49%;
  padding-bottom: 2%; }

.col-100 {
  flex: 0 0 auto;
  width: 100%;
  padding-bottom: 2%; }

.col-90 {
  flex: 0 0 auto;
  width: 90%;
  padding-bottom: 2%; }

.col-100 {
  flex: 0 0 auto;
  width: 100%;
  padding-bottom: 2%; }

.ratio-16x9 {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  padding-top: calc(9 / 16 * 100%); }

.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.img-fluid {
  max-width: 100%;
  height: 100%; }

@media (max-width: 62em) {
  .col-50 {
    width: 100%; } }

.thumbnail {
  display: flex;
  flex-direction: column; }
  .thumbnail .title {
    cursor: default;
    font-size: 1.15rem;
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0.75rem 0 0 0; }
  .thumbnail .description {
    cursor: default;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.65);
    padding: 0;
    margin: 0; }
  .thumbnail .img-container {
    position: relative; }
  .thumbnail .overlay {
    position: absolute;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    opacity: 0;
    background: #080808;
    top: 0;
    width: 100%;
    height: 100%; }
  .thumbnail .overlay-text {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: justify; }
  .thumbnail .overlay:hover {
    opacity: 0.75; }

.info {
  width: 100%;
  margin: 2em 0 0 0; }
  .info p, .info h1, .info h2 {
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0; }
  .info h1 {
    font-size: 1.25em; }
  .info h2 {
    font-size: 1.15em; }
  .info p {
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65); }

.desc {
  width: 75%;
  margin: .5em 0 1em 0; }
  .desc p {
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    margin: 0;
    padding: 0; }

.tags {
  margin: .5em 0 0 0; }

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: .9em;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: white; }

.source {
  display: flex;
  flex-direction: row;
  align-items: center; }

@media (max-width: 36em) {
  .info {
    margin: 2em .75em 0 .75em; }
  .desc {
    width: 95%; } }

.gallery {
  margin: 1.25em 0 0 0; }
  .gallery .gallery-desc {
    padding: 0.75em; }
  .gallery h1 {
    font-size: 1.25em;
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0; }
  .gallery p {
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65); }

html {
  scroll-behavior: smooth; }

a {
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  margin: 0; }

p {
  cursor: default; }

body {
  font-family: 'Roboto';
  font-weight: 300;
  background-color: #080808;
  margin: 0; }
