// -- import roboto font.
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

@import 'util/utility';
@import 'util/flex.scss';
@import 'util/list.scss';
@import 'util/spacing.scss';

@import 'components/buttons.scss';
@import 'components/nav.scss';
@import 'components/hero.scss';
@import 'components/footer.scss';
@import 'components/container.scss';
@import 'components/grid.scss';
@import 'components/image.scss';
@import 'components/info.scss';
@import 'components/gallery.scss';

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

p {
    cursor: default;
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: #080808;
    margin: 0;
}
