.list-styled {
    padding: 0 0 0 1rem;
    margin: .2rem 0 0 0;
}

.list-item {
    padding: .1rem 0 0 0;
}

.bullet-before:before {
    content:"• "
}

.bullet-after::after {
    content:" •"
}

.p-bullet {
    padding: .1em 0 .1em 0 !important;
}