.link, .link:visited {
    transition: $transition-base;
    text-decoration: none;
    font-weight: 500 !important;
    color: $dark;
    &:hover {
        text-decoration: none;
        color: #0098FF !important;
    }
}