.container, .container-fluid, .container-small, .container-medium, .container-large, .container-xlarge {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 576px) {
  .container, .container-small {
    max-width: 540px; } }

@media (min-width: 992px) {
  .container, .container-small, .container-medium {
    max-width: 960px; } }

@media (min-width: 1400px) {
  .container, .container-small, .container-medium, .container-large {
    max-width: 1320px; } }

@media (min-width: 1530px) {
  .container, .container-small, .container-medium, .container-large, .container-xlarge {
    max-width: 1450px; } }
