.info {
  width: 100%;
  margin: 2em 0 0 0; }
  .info p, .info h1, .info h2 {
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0; }
  .info h1 {
    font-size: 1.25em; }
  .info h2 {
    font-size: 1.15em; }
  .info p {
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65); }

.desc {
  width: 75%;
  margin: .2em 0 1em 0; }
  .desc p {
    font-size: 1em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    margin: 0;
    padding: 0; }

.tags {
  margin: .2em 0 0 0; }

.badge {
  display: inline-block;
  padding: .15em .3em;
  font-size: .9em;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid rgba(255, 255, 255, 0.65);
  color: rgba(255, 255, 255, 0.65); }

.source {
  margin: 1.25em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .source .link, .source .link:focus {
    color: white !important;
    text-decoration: none; }

@media (max-width: 36em) {
  .info {
    margin: 2em .75em 0 .75em; }
  .desc {
    width: 95%; } }
